.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.table{
    border: 3px solid midnightblue;
}
thead,
tfoot {
  background-color: midnightblue;
  color: white;
  text-shadow: 1px 1px 1px midnightblue;
}

thead th,
tfoot th,
tfoot td {
  border: 3px solid midnightblue;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid midnightblue;
    height: 100px;
    background-color: midnightblue;
    color: white;
}
tr:hover{
   background-color: lightblue;
}
.centimg{
  border: 5px solid midnightblue;
  background-color: midnightblue;
  padding: 20px ;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}